*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
}
.p-one{
  background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://s-media-cache-ak0.pinimg.com/originals/27/05/74/2705741f272606db11ac1ae9938f2e93.jpg');
 }
 .p-two{
  background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('http://yourshot.nationalgeographic.com/u/fQYSUbVfts-T7odkrFJckdiFeHvab0GWOfzhj7tYdC0uglagsDUfLlPgrXBmpl47L_loRqvjQAF8rf0zUosTGvin-6e78q5sfCcVX3bmVTMIIXO6Tip6RwcEifpvaUYLqZqeb_QXL_hMs0S2-KyKQmlkXBgPl8cmV7EfviKXmGBHSzVSBO6vID7z-6vseqDbm-vjCRptb-cHr6DG_Fw5ZrX16ipWhA/');
 }
 .p-three{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('http://yourshot.nationalgeographic.com/u/fQYSUbVfts-T7odkrFJckdiFeHvab0GWOfzhj7tYdC0uglagsDYhq4Ex8s5iidtN2D-gsq8R6I9UvklI2CBfS-FrbCGDzSvH4NAUkD_8qN1OoS2Rbse4v-v8EG0PNP7o3MEKhYPjgh9ctRu0tobfXYMjJtRn13-BIYRDxf-GqgJyeRjwEOM-G5Z93u60vJ1-0Rgw1R1PtW2SmuoYi7z7Eg/');
 }
 .p-four{
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('http://yourshot.nationalgeographic.com/u/fQYSUbVfts-T7odkrFJckdiFeHvab0GWOfzhj7tYdC0uglagsDcYmE3RitDZn-Yii57x4-5jsHdUxHDMvdLBnj3tfIm1zfzl-yw2G7ANtLSxm2lLwOXVxqJtvDa0ROT0ZaPWLVHzHRbs0cNFiz9YNSaJvYYdELBDYSF_b32fGuTBEu8iX4XGFR7_TBXQ_bSK1N-C5HLTv6gXe4Vp9CadyYOz88E/');
 }
 .parallax-inner{
   position:relative;
   min-height: 500px;
   background-position: top center;
   background-attachment: fixed;
   background-size: cover;
 }
 .parallax-inner > h2{
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 10px;
   position: absolute;
   top: 50%;
   left: 0;
   margin-top: -20.5px;
   width: 100%;
   text-align: center;
 }
section:first-child{
  position: relative;
  height:100px;
}
section .title{
  position: absolute;
  top: 50%;
  left: 20%;
  margin-top:-35.5px;
  /* margin-left: -91.4px; */
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
}
.title h1,h2{
  font-size:20px;
  font-weight:100;
  letter-spacing: 5px;
  margin-left: 13px;
}
.content-text p{
  padding: 25px 50px 25px 50px;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
}
.first-letter{
  float: left;
  font-weight: 400;
  font-size: 84px;
  line-height: 64px;
  padding-top: 2px;
  padding-right: 8px;
  padding-left: 4px;
}
.line-break{
  border-bottom: 1px solid #bf2d33;
  width: 200px;
  margin: 0 auto;
}
