<!-- <h2>{{ article.title }}</h2>
<p>{{ article.body }}</p>
<a [routerLink]="['/edit-article', article.id]">Edit</a> -->
<div id="parallax-wrapper">
  <section>
    <a [routerLink]="['/']">Retour</a>
    <div class="title">
      <hgroup>
        <h1>Bienvenu dans le detail de nos articles</h1>
      </hgroup>
    </div>
  </section>
  <section>
    <div class="p-one parallax-inner">
      <h2>{{ article?.title }}</h2>
    </div>
  </section>
  <section>
    <div class="content-text">
      <p>
        {{ article?.body }}
      </p>
      <a [routerLink]="['/edit-article', article?.id]">Modifier</a>
      <div class="line-break"></div>
      <h3>Commentaires</h3>
      <div *ngIf="comments.length === 0">Aucun commentaire disponible.</div>

      <div *ngFor="let comment of comments">
        <h4>Titre: {{ comment.name }}</h4>
        <p><strong>Email:</strong> {{ comment.email }}</p>
        <p><strong>Contenu:</strong> {{ comment.body }}</p>
      </div>
    </div>
  </section>
</div>
